body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: #ffffff;
}

header {
    text-align: center;
    padding: 40px;
    background-color: #020617;
}

section {
    padding: 40px;
}

h2 {
    margin-bottom: 20px;
}

div {
    background-color: #1e293b;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
