body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #020617;
    color: #e2e8f0;
}

/* HERO SECTION */

.hero {
    text-align: center;
    padding: 100px 20px;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 3rem;
    color: #22c55e;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

button {
    padding: 12px 30px;
    background: transparent;
    border: 2px solid #22c55e;
    color: #22c55e;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #22c55e;
    color: black;
    box-shadow: 0 0 15px #22c55e;
}

/* ABOUT */

.about {
    text-align: center;
    padding: 60px 20px;
}

/* SERVICES */

.services {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    flex-wrap: wrap;
}

.card {
    background-color: #0f172a;
    padding: 30px;
    width: 250px;
    border-radius: 10px;
    transition: 0.3s;
    text-align: center;
}

.card:hover {
    border: 1px solid #22c55e;
    box-shadow: 0 0 20px #22c55e33;
}

/* CONNECT */

.connect {
    text-align: center;
    padding: 60px 20px;
}
